* {
    text-align: center;
}

input {
    outline: none;
}

header {}

h1 {
    font-family: 'Euphoria Script', cursive;
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

.menu {
    background-color: #f0bfff;
    margin: 0px;
    overflow: hidden;
    position: sticky;
    top: 0px;
    opacity: 0.65;
    /* border: 1px solid white; */
}

.menu a {
    font-family: 'Georgia';
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 5px;
    box-sizing: border-box;
    float: center;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 16px 24px;
}

.menu a:hover {
    background: white;
    color: black;
    /* text-decoration: underline; */
}

i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg) scale(4, 4);
    position: relative;
    top: 110px;
    left: 300px;
    opacity: 0.5;
}

body {
    background-image: url("assets/images/5105.jpg");
    background-repeat: no-repeat;
    background-position: relative;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* .add-form-container {
    background: rgba(247,247,247,0.4);
    width: 500px;
    height: 500px;
    display: inline-block;
    box-shadow: inset 1px 2000px rgba(208, 208, 208, 0.54)
} */

/* main {
    background: rgba(247,247,247,0.4);
    width: 500px;
    height: 500px;
    display: inline-block;
    box-shadow: inset 1px 2000px rgba(208, 208, 208, 0.54) 
} */

.main-form-container {
    width: 500px;
    border: 1px white;
    margin: auto auto 0;
    padding: 1em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    background: rgba(247, 247, 247, 0.4);
}

.gratitude-form {}

input[type="text"] {
    width: 50%;
    border: 2px solid white;
    margin-bottom: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 16px;
}

::placeholder {
    opacity: 0.6;
}

.delete {
    margin-left: 50px;
}

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
}
.boxed{
    border: #dc83ea solid 3px;
}